.menu {
    margin-top: 10px;
    display: flex;
    background: #FDFDFD;
}

.menu__container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
}

.slash {
    text-decoration: none;
    margin: 10px;
    color: #AB9285;
    font-style: italic;
    font-weight: bold;
}